@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

html{
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
ul{
  padding: 0;
  margin: 0;
}
.side> div > a{
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: black;
  margin-top: .9rem;
  
}
/* a:hover{
  background-color:#d2eeee
} */
.nav{
  height: 100vh;
  width: 100%;
  /* display: grid; */
  /* border: 1px solid green; */
  /* grid-template-columns: 1fr 1fr ; */
  display: flex;
  
}
a{
  text-decoration: none;
}

.sidebar {
  
  /* min-width: 230px; */
  /* max-width: 230px; */
  background-color: #fff;
  min-height: 100vh;
  transition: .3s;
  /* position: fixed; */
  bottom: 0;
  font-size: 1.3rem;
  top: 0;
  /* border-right: 1px solid #e3ebf6; */
  z-index: 1001;
}
.right{
  font-size: 1.3rem;
}
.side{
  margin-left: 1rem;
}
.side > div > span{
  margin-right: .8rem;
}
.side > div > div>span{
  margin-right: 1rem;
}
.log>span{
  margin-right: .8rem;
}

.header{
  min-height: 5.2rem;
  border-bottom: 1px solid #e3ebf6;
}

.logo>button{
  font-size: 1.3rem;
}
.fa-bars, .fa-bell, .fa-search{
  font-size: 1.7rem;
}
.img-thumbnail{
  width: 5.3rem;
  height: 5.3rem !important;
  border-radius: 5rem !important;
}
.thumb-xs {
  height: 3.2rem !important;
  width: 3.2rem !important;
  font-size: 10px;
  font-weight: 700;
}
.dropdown-toggle::after {
  display: none !important;
  
}

.changeClick{
  
  opacity: 0 !important;
  /* display: none; */
  height: 0rem;
  width: 0rem;
 
}


 
.change{
  transition: all 500ms;
  opacity: 1;
  height: auto;
  width: auto;
  /* display: block !important; */
}
.change>div{
  margin-left: 3rem;
}

.change>div>span{
  font-size: .8rem;
  margin-top: .5rem;
}






.vertical-nav{
  background: #f2f3f7;
  min-width:25rem;
  width: 25rem;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  box-shadow: 0.3rem .3rem 1rem rgba(0, 0, 0, );
  transition: all 0.4s;
}

.page-content{
  /* margin-left: 25rem;
  width: calc(100%-25rem); */

  margin-left: 34.5rem;
  width: calc(100%-34.5rem);
 
  transition: all 0.4s;
}

.mainContaint{
  background: #f1f5f9;

}



.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: .2rem;
  /* border: 1px solid brown; */
}


.card {
  background: #fff;
  border-radius: 5px;
}

.icon{
  font-size: 4rem;
  
}

/* table {
  border-collapse: collapse;
  text-align: center;
} */
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}


thead tr {
  font-weight: 700;
  font-size: 1.5rem;
}
/* thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  padding: 0.5rem 0rem;
} */
tbody tr{
  /* border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  padding: 0.5rem 0rem; */
  font-size: 1.5rem;
}

.card-single div:first-child span {
  color: grey;
}

.card-single:last-child div:last-child span {
  color: black
}

.card-single:last-child h1 {
  color: black;
}

.card-single:last-child div:first-child span {
  color: grey;
}




/* SideBar Cssss */

.sidebar {
  width: 34.5rem;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgb(197, 113, 113);
  transition: left 300ms;
}

.sidebar-brand {
  height: 9rem;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}

.sidebar-brand span {
  display: inline-block;
  padding-right: 1.4rem;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.6rem;
  padding-left: 1rem;
}

.sidebar-menu a {
  display: block;
  color: #fff;
  padding-left: 1rem;
  font-size: 1.6rem;
}

.sidebar-menu a span:first-child {
  font-size: 2.5rem;
  padding-right: 1rem;
}

#nav-toggle:checked+.sidebar {
  width: 70px;
}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar li {
  padding-left: 1rem;
  text-align: center;
}

#nav-toggle:checked+.sidebar li a {
  padding-left: 0rem;
}

#nav-toggle:checked+.sidebar li a span {
  padding-right: 1rem;
}

#nav-toggle:checked+.sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child {
  display: none;
}

#nav-toggle:checked~.main-content {
  transition: margin-left 300ms;
  margin-left: 70px;
}

#nav-toggle:checked~.main-content header {
  width: calc(100% - 70px);
  left: 70px;
}


/* .sidebar-menu a.active {
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: rgb(182, 65, 65);
  border-radius: 30px 0px 0px 30px;
} */


/* Main------------------> */

.recent-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 65% auto;
}

.card {
  background: #fff;
  border-radius: 5px;
}

.card-header .card-body {
  padding: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.card-header button {
  /* background: chocolate; */
  /* border-radius: 10px; */
  columns: #fff;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  /* border: 1px solid chocolate; */
}

table {
  border-collapse: collapse;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  /* padding: .5rem 0rem; */
}

thead tr {
  font-weight: 700;
}

td {
  padding: .5rem 1rem;
  font-size: 1.4rem;
  color: #222;
}

tr td:last-child {
  display: flex;
  align-items: center;
}

td .status {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 1rem;
}

.status.purple {
  background: rebeccapurple;
}

.status.pink {
  background: deeppink;
}

.status.orange {
  background: rgb(11, 110, 19);
}

.table-responsive {
  width: 100%;
  overflow: auto;
}

.customer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .7rem;
}

.info {
  display: flex;
  align-items: center;
}

.info img {
  border-radius: 50%;
  margin-right: 1rem;
}

.info h4 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #222;
}

.info small {
  font-weight: 600;
  color: grey;
}

.contact span {
  font-size: 1.4rem;
  display: inline-block;
  margin-left: .5rem;
  color: indianred;
}
.search{
  margin-right: 3rem;
}




/* ----------------Login------------> */


.form-group > input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #e6e6e6;
  /* border: 2px solid #f2f3f7; */
  

  outline: none;
  font-size: 1.5rem !important;
  padding: 0.8rem;
  
}

.form-group > label{
  position: absolute;
  top: .9rem;
  left: 1.5rem;
  /* color: #fff; */
  text-transform: capitalize;
  font-size: 1.5rem;
  transition: top .3s;

}

.spin{
  margin-left: 2rem;
}

.form-group >input:focus ~ label,
.form-group >input:valid ~ label{
  top: -1.3rem;
  
  background-color: #fff;
}

.form-group >textarea:focus ~ label,
.form-group >textarea:valid ~ label{
  top: -1.3rem;
  background: #fff;
}
.form-group{
  position: relative;
}

.login{
  height: 100vh !important;
  background:#f2f3f7;
  

}
.login>div{
  /* border: 1px solid black; */
}


.loginbox {
  width: 34.5rem;
  height: 39.0rem;
  /* transform: translate(500px, 160px); */
  background:#fff;
  /* color: #fff; */
  box-sizing: border-box;
  padding: 4rem 3rem;
  /* border-radius: 10%; */
  opacity: 0.7;
}

.loginbox>.contact_form_class>button{
  width: 100%;
    padding: 0.5rem;
    margin-top: 3rem;
    font-size: 1.4rem;
}

.loginbox>.contact_form_class>div>div>i{
  font-size: 1.4rem;
}

.form-group >input:focus{
border-bottom: 1px solid orangered;
transition:all .5s;
}

.loginbox>.contact_form_class>div>a{
  font-size: 1.2rem;
}






@media only screen and (max-width:768px) {
  .cards {
      grid-template-columns: 100%;
  }
  .recent-grid {
    grid-template-columns: 100%;
}
.sidebar{
  margin-left: -34.5rem;
}
.page-content{
  width: 100%;
  margin-left: 0rem;
}
}



